.question {
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
  background-color: rgba( 255, 237, 229, 1 );
}

.no-hover {
  margin: -10px;
  padding: 10px;
}

.question:hover {
  /*background-color: rgba( 191, 172, 172, 0.8 );*/
  cursor: pointer;
  border: 1px solid black;
  padding: 9px 9px 9px 9px;
}

/*div.no-hover:hover {
  background-color: rgba( 255, 237, 229, 1 );
  border-radius: 0px 0px 5px 5px;
}*/
h1 {
  display: inline-block;
  padding: 0px 7px;
  border-radius: 5px;
}

h1:hover {
  cursor: pointer;
  color: #fff;
  /*box-shadow: 5px 5px 5px 1px #888888;*/
  background-color: #2e6da4;
}

.lead {
  margin-bottom: 10px;
}


.vertical-center {
  min-height: 50%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 50vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}


/*div:hover {background: salmon}
div p:hover {background: white}
div p {padding-bottom: 26px}
div button {position: absolute; bottom: 0}*/
