<form>
  <div class="form-group">
    <label for="name">Edit Name:</label>
    {{input value=this.name id="name" type="text" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="question">Edit Question:</label>
    {{input value=this.question id="question" type="text" class="form-control" placeholder="Brief question"}}
  </div>
  <div class="form-group">
    <label for="description">Description of Your Question:</label>
    {{textarea value=this.description id="description" type="text" rows="5" class="form-control"}}
  </div>
  <button type="button" class="btn btn-success" {{action 'updateQuestion'}}>Update Question</button>
</form>
